* {
	font-family: "akzidenz-grotesk_stdmedium";
    font-size: 55px;
    overflow: hidden;
}

body {
    background-color: black;
    color: white;
}



a {
    text-decoration: none;
    color: white;
}


@font-face {
    font-family: 'akzidenz-grotesk_stdmedium';
    src: url('akzidenzgroteskstd-md-webfont.eot');
    src: url('akzidenzgroteskstd-md-webfont.eot?#iefix') format('embedded-opentype'),
         url('akzidenzgroteskstd-md-webfont.woff2') format('woff2'),
         url('akzidenzgroteskstd-md-webfont.woff') format('woff'),
         url('akzidenzgroteskstd-md-webfont.ttf') format('truetype'),
         url('akzidenzgroteskstd-md-webfont.svg#akzidenz-grotesk_stdmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper {
    display: none;
}

#h-one {
    position: relative;
    top: 181px;
    left: 510px;
}

#e-two {
    position: relative;
    top: 115px;
    left: 555px;
 
}

#l-three {
    position: relative;
    top: 50px;
    left: 600px;
}

#l-four {
    position: relative;
    top: 22px;
    left: 600px;
}

#o-five {
    position: relative;
    top: -45px;
    left: 635px;
}

#w-six {
    position: relative;
    top: -73px;
    left: 452px;
}

#o-seven {
    position: relative;
    top: -139px;
    left: 505px;
}

#r-eight {
    position: relative;
    top: -205px;
    left: 555px;
}

#l-nine {
    position: relative;
    top: -270px;
    left: 600px;
}

#d-ten {
   position: relative;
   top: -337px;
   left: 640px; 
}